@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #292621;
    
}
.hr-thin {
    border: none;           
    border-top: 2px solid;  
    color: #292621;         
    background-color: #292621; 
}
.side-bar{
    margin: 56px 0px 0px 0px;
    height: max-content;
    /* min-width: 300px; */
    width: max-content;
    background-color: #151515;
    color: antiquewhite;
    font-size: large;
    padding: 20px;
  }
  
.search-bar{
    position: fixed;
    top: 50px;
    left: 360px;
    background-color: rgba(21, 21, 21, 0.9);
    padding-right: 100px;
    height: 80px;
    z-index: 1;
    border-radius: 10px;

}
.textarea{
    display: flex;
    align-items: center;
    margin-left: 1000px;
    margin-top: 10px;
    justify-content: center;
    background-color: #373A40;
    border-radius: 25px;
    padding: 5px 20px;
    width: 500px;
    color: #b3b3b3;
    justify-items: center;
    height: 60px;
}
.search-input {
    flex: 1;
    border: none;
    outline: none;
    background: none;
    color: #b3b3b3;
    font-size: 16px;
}
.search-input::placeholder {
    color: #b3b3b3;
}
  .side-bar-items-1{
      
      /* border: 2px solid red; */
      width: max-content;
  }
  .side-bar-items-1 .side-bar-item{
      width: 300px;
      
      margin: 0px 10px 0px 10px;
      padding: 20px;
  }
  .side-bar-items-1 .side-bar-item-1 span,.side-bar-items-1 .side-bar-item-2 span{
      margin-left: 10px;
  }
  .side-bar-items-1 .side-bar-item-1{
      width: 300px;
      background-color: #292621;
      margin: 0px 10px 0px 10px;
      padding: 20px;
      border-radius: 20px 20px 0px 0px;
  }
  #smartsoft1{
      border-radius: 20px 20px 0px 0px;
  }
  #smartsoft2{
      border-radius: 0px 0px 20px 20px;
  }
  #softsmart1:hover, #softsmart2:hover{
      background-color: #292621;
      cursor: pointer;
  }
  .side-bar-items-1 .side-bar-item-2{
      width: 300px;
      margin: 0px 10px 0px 10px;
      padding: 20px;
      border-radius: 0px 0px 20px 20px;
  }
  .side-bar-items-2  .side-bar-item{
      display: flex;
      justify-content: space-between;
      width: 300px;
      
      margin: 0px 10px 0px 10px;
      padding: 20px;
  }
  .side-bar-items-2  .side-bar-item-1,.side-bar-items-2  .side-bar-item-5{
      display: flex;
      justify-content: space-between;
      width: 300px;
      border-radius: 20px 20px 0px 0px;
      margin: 0px 10px 0px 10px;
      padding: 20px;
  }
  .side-bar-items-2  .side-bar-item-1 span,.side-bar-items-2  .side-bar-item-5 span{
      margin-left: 10px;
  }
  .side-bar-items-2  .side-bar-item-5{
      border-radius: 0px 0px 20px 20px;
  }
  .side-bar-item{
      /* padding: 30px; */
  }
  .side-bar-item span{
      margin-left: 10px;
  }
  .category-heading,.providers-heading{
      display: flex;
      justify-content: space-between;
      font-weight: 800;
      padding: 23px;
  }
  .side-bar-items-3 .side-bar-item{
      display: flex;
      justify-content: space-between;
      justify-content: space-between;
      width: 300px;
      margin: 0px 10px 0px 10px;
      padding: 20px;
      
  }
  .side-bar-items-3 .side-bar-item h1{
     margin-left: 10px;
      
  }
  .side-bar-item:hover{
      background-color: #292621;
      cursor: pointer;
  }
  .side-bar-items-2 .side-bar-item-1:hover,.side-bar-items-2 .side-bar-item-5:hover{
      background-color: #292621;
      cursor: pointer;
  }
.providers-div{
    /* border: 6px solid black; */
    color: antiquewhite;
    width: 100%;
    border-radius: 20px;
}
.provider-content-2{
    display: flex;
    margin-top: 20px;
    gap: 30px;
    font-size: larger;
}
.provider-content-2 .providers-button{
    width: max-content;
    height: max-content;
    border-radius: 20px;
    background-color: #45474B;
    padding: 20px;
}
.provider-content-2 .providers-button:hover{
    background-color: #333;
    cursor: pointer;
}
.home-page {
    overflow: hidden;
   margin: 135px 50px 0px 50px;
   width: 100%
}
 .home-img {
    position: relative;
    width: 100%; 
    height: 240px; 
    background-size: cover; 
    background-position: center; 
    border-radius: 10px;
    border: 6px solid black;
    animation: slide 7s infinite;
}
.top-game-section{
    display: flex;
    flex-direction: column;
    
    margin-top: 20px;
    width: 100%;
    
    padding: 10px 10px 10px 10px;
    color: antiquewhite;
    border-radius: 10px;
}
.top-game-section .allgame{
    gap: 1px;
}
.top-game-section img{
    width: 190px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}
.top-game-section .top-game-item{
    position: relative;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 200px;
}
.top-game-items{
    position: relative;
    display: flex;
    width: 90%;
    gap: 5px;  
}

.top-game-section .top-game-item .overlapdiv{
    position: absolute;
    top: 10px;
    left: 5px;
    width: max-content;
    background-color: #292621;
    padding: 5px;
    border-radius: 10px;
    font-size: smaller;
}
.top-game-section .top-game-item .absolute{
    
    top: 10px;
    width: max-content;
    background-color: #292621;
    border-radius: 10px;
    padding: 5px;
    left: 40px;
    font-size: smaller;
}
.top-game-section .top-game-item .text-container{
    
    margin-right: 50px;
    width: 190px;
    margin-top: 0;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
}
.top-game-section .top-game-items .text-container h3{
    color: #;
    font-weight: 200;
    font-size: smaller;
    
}
/* .image-container {
    position: relative;
    overflow: hidden;
    
} */
.img-container img{
    transition: opacity 0.5s ease-in-out;
}
.img-container:hover img {
    opacity: 0.3;
    cursor: pointer;
}
.home-img:hover .button{
    opacity:1;
    cursor: pointer;
}
.all-game-content:hover .button2{
    opacity: 1;
    cursor: pointer;
}

.top-game-item:hover .button2{
    opacity:1;
    cursor: pointer;
}
.popular-div{
    color: antiquewhite;
    
    
}
.popular-div .popular-button p{
    font-weight: 200;
    font-size: x-small;
}
.popular-content{
    gap: 40px;
    
}
.popular-div img{
    width: 100px;
}
.popular-button{
    width: 350px;
    border-radius: 20px;
    background-color: #45474B;
    padding: 10px;

}
.popular-button:hover{
    background-color: #333;
    cursor: pointer;

}
.all-games{
    width: 100%;
    color: antiquewhite;
    position: relative;
}
.all-game-container{
    width: 100%;
    gap: 10px;
}
.all-game-container img{
    width: 190px;
}
.button {
    position: absolute;
    bottom: 80px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: #a3e51f;
    color: #000000;
    padding: 10px 40px;
    border: 2px solid #000000;
    border-radius: 10px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out;
}
.button2 {
    position: absolute;
    bottom: 130px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: #a3e51f;
    color: #000000;
    padding: 10px 40px;
    border: 2px solid #000000;
    border-radius: ;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out;
}
/* .button:hover {
    background-color: #000000;
    color: #ffffff;
} */
 nav{
    position: fixed;
    width: 100%;
    z-index: 10;
 }
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 56px;
    background-color: black;
    border: 2px solid black;
    padding: 10px;
   
}

.navbar li {
    list-style-type: none;
}

#bar {
    font-size: 1.5em;
    color: #969186;
    display: none;
}
@media (max-width: 1000px) {
    #bar {
        display: block;
        
    }
}

.nav-logo {
    height: 24px;
    width: 80px;
    border: 2px solid black;
}

.logo {
    height: 24px;
    width: 80px;
    background-image: url("https://pm-bet.in/logos/pm-logo.svg");
    background-size: cover;
    
}
.navbar-link-con{
    display: flex;
    width: 70%;
    margin-left: 50px;
    
    justify-content: space-around;

}

.nav-link a {
    color: #969186;
    font-weight: bolder;
    font-size: 18px;
    text-decoration: none;

}

.search-button {
    color: #969186;
    font-size: 1.5em;
    margin-right: 20px;
}

/* button */

/* button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
} */

button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* Login button with a cyan background */
.login-button button {
    background-color: #00bcd4;
    padding: 5px;
    font-size: smaller;
    text-transform: uppercase;
    color: antiquewhite;
}


.login-button button:hover {
    background-color: #008c9e;
    box-shadow: 0 0 10px rgba(0, 140, 158, 0.5);
}

/* Sign Up button with a lime green background */
.sign-button button {
    background-color: #8bc34a;
    padding: 5px;
    font-size: smaller;
    text-transform: uppercase;
    color: antiquewhite;
}


.sign-button button:hover {
    background-color: #6fa832;
    box-shadow: 0 0 10px rgba(111, 168, 50, 0.5);
}
@media (max-width: 768px) {
    .login-button {
        width: 50%;
        font-size: 0.5rem;
        /* position: relative; */
        /* left:5px; */

    }
    .sign-button{
        width: 50%;
        font-size: 0.5rem;
    }
}

/* Dropdown */
.language-selector {
    background-color: #333;
    color: #fff;
    border: 2px solid #555;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    transition: border-color 0.3s, background-color 0.3s;
}

.language-selector:hover {
    border-color: #888;
    background-color: #444;
}

.language-selector option {
    background-color: #333;
    color: #fff;
}

/* Media Queries for Responsiveness */
@media (max-width: 1000px) {
    .event-link {
        display: none;
    }
}
@media (max-width: 1000px) {
    .right-sidebar{
        display: none
    }
}
@media (max-width: 800px) {
    .sidebar{
        display: none
    }
}

/* menu-bar */

.menu-links{
    width: 20%;
    height: auto;
    
    padding: 20px;
    position: fixed;
    top:50px;
    /* border: 2px solid rgb(68, 47, 47); */
    left:0px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: #0f0a0b;
    border-radius: 10px;
    color: #7B756B;
    display: none;
}
.menu-links .menu-link-ele a{
    color: #969186;
    font-weight: bolder;
    font-size: 18px;
    text-decoration: none;
    
}
.menu-links .menu-link-ele{
    margin-bottom: 10px;
}
#bar:hover .menu-links{
    display: block;
}

.menu-links .event-link{
    /* border: 1px solid #7B756B; */
    font-size: x-large;
    margin-bottom: 10px;
}
footer{
    width: 100%;
    height: auto;
    border: 1px solid rgb(223, 211, 211);
    border-radius: 10px;
    margin-top: 20px;
    background-color: white;
}
.popular-event-sec{
    border-radius: 5px;
    margin-top: 20px;
    padding-left: 50px;
}
.popular-head{
    font-size: 16px;
    color: #292621;
    font-weight: bolder;
    /* padding: 20px; */
    border-radius: 5px;
    margin-bottom: 10px;

    
}
.popular-body{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.popular-body li{
    list-style-type: none;
    font-size: 12px;
    margin-bottom: 25px;
}
.pop-lis{
    color:#7B756B;
    font-size: 12px;
}
.pop-lis .pop-head{
    font-size: 16px;
    color: #292621;
    font-weight: bolder;
    margin-bottom: 10px;
}
.popular-event-sec .sponsors-ele .sponsors img{
    width: 100px;
    height: 40px;
}
.sponsors-ele{
    display: flex;
    /* margin-left: 20px; */
    margin-bottom: 20px;
    /* margin-left: 10px; */
}
.sponsors{
    margin-left: 20px;
}
.popular-event-sec .sponsors-ele .sponsors-pay img{
    width: 46px;
    height: 32px;
    margin-left: 20px;
}
.sponsors-ele .social-ele img{
    width: 20px;
    height: 22px;
    margin-left: 20px;
}
.sponsors-ele .licence-ele img{
    width: 34px;
    height: 34px;
    margin-left: 20px;
}
.content{
    padding: 30px;
}

/* footer media queries */
/* Media Queries for Tablet */
@media (max-width: 1024px) {
    .popular-body {
        flex-direction: column;
        align-items: center;
    }

    .popular-body li {
        text-align: center;
    }

    .sponsors-ele .sponsors {
        margin-left: 10px;
    }
}

/* Media Queries for Phone */
@media (max-width: 768px) {
    .popular-event-sec {
        padding-left: 20px;
    }

    .popular-body {
        flex-wrap: wrap;
    }

    .popular-body li {
        width: 50%;
        text-align: center;
    }

    .sponsors-ele .sponsors {
        margin-left: 10px;
    }

    .sponsors-ele .social-ele img {
        margin-left: 10px;
    }

    .sponsors-ele .licence-ele img {
        margin-left: 10px;
    }
}

/* Media Queries for Tablet */
@media (max-width: 1024px) {
    .sponsors-ele {
        flex-wrap: wrap;
        justify-content: center;
    }

    .sponsors {
        margin-left: 10px;
        margin-bottom: 10px;
    }
}

/* Media Queries for Phone */
@media (max-width: 768px) {
    .sponsors-ele {
        flex-direction: column;
        align-items: center;
    }

    .sponsors {
        margin: 0;
        margin-bottom: 10px;
    }

    .sponsors img {
        width: 80px; /* Adjust image size for smaller screens if necessary */
        height: auto;
    }
}

@keyframes slide{
    0% {
        background-image: url('./Assets/I\ COVER\ 1.png');
    }
    50% {
        background-image: url('./Assets/I\ COVER\ 2.png'); 
    }
    100% {
        background-image: url('./Assets/I\ COVER\ 1.png');
    }
}









@media (max-width: 480px) {
    .home-img {
        height: 100px; 
    }
    .sidebar{
        display: none;
    }
    .home-page{
        margin: 30px 15px 15px 15px;
    }
    .button {
        position: absolute;
        bottom: 25px; 
        left: 50%;
        transform: translateX(-50%);
        background-color: #a3e51f;
        color: #000000;
        padding: 1px 1px 1px 1px;
        /* border: 2px solid #000000; */
        border-radius: 5px;
        font-weight: 400;
        font-size: small;
    }
    .home-img {
        
        border: 3px solid black;
        
    }
    .top-game-items{
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 21px;
    }
}
@media (max-width: 768px){
    .sidebar{
        display: none;
    }
    .top-game-items{
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 21px;
        gap: 100px;
        margin-bottom: 20px;
    }
    .top-game-item:nth-child(n+7) {
        display: none;
        
    }
}
@media (max-width: 1024px){
    .top-game-item:nth-child(n+6) {
        display: none;
        
    }
}
@media(max-width: 320px){
    .home-page{
        margin-top: 70px;
    }
    .side-bar{
        display: none;
    }
    .provider-content-2{
        width: 270px;
        gap: 5px;
        overflow: hidden;   
    }
    .providers-button{
        font-size: xx-small;
        padding: 5px;
    }
    .providers-button:nth-child(n+3) {
        display: none;
        
    }
    .popular-button:nth-child(n+3){
    display: none;
    }
}
@media (max-width:768px) {
    .side-bar{
        display: none;
    }
    .search-bar{
        display: none;
    }
    .providers-button{
        font-size: xx-small;
        padding: 0px;
    }
    .provider-content-2{
        
        gap: 50px;
        overflow: hidden;   
    }
    .providers-button:nth-child(n+5) {
        display: none;
        
    }
    .top-game-item:nth-child(n+5){
        display: none;
    }
}
@media(max-width: 1024px){
     .nav-link {
        display: none;

    }
    .textarea{
        margin-left: 100px;
    }
}
@media(max-width: 1440px){
    .providers-button{
        font-size: x-small;
        
        
    }
    .popular-button:nth-child(n+1){
        display: none;
        }
        .textarea{
            margin-left: 500px;
        }
}