<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <userSettings>
    <Roaming>
      <Bluegrams.Application.Properties.Settings>
        <Culture></Culture>
      </Bluegrams.Application.Properties.Settings>
      <Bluegrams.Application.UpdateCheckerBase>
        <SkipVersion>False</SkipVersion>
        <CheckedUpdate>0.0</CheckedUpdate>
      </Bluegrams.Application.UpdateCheckerBase>
      <Bluegrams.Application.CustomSettings>
        <Shortcuts>
          <ArrayOfShortcut xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Shortcut>
              <Action>ToggleRulerMode</Action>
              <Keys>Space</Keys>
            </Shortcut>
            <Shortcut>
              <Action>ToggleVertical</Action>
              <Keys>V</Keys>
            </Shortcut>
            <Shortcut>
              <Action>FlipVertically</Action>
              <Keys>Shift+F</Keys>
            </Shortcut>
            <Shortcut>
              <Action>FlipHorizontally</Action>
              <Keys>F</Keys>
            </Shortcut>
            <Shortcut>
              <Action>ToggleSlimMode</Action>
              <Keys>J</Keys>
            </Shortcut>
            <Shortcut>
              <Action>ToggleHypotenuseMode</Action>
              <Keys>H</Keys>
            </Shortcut>
            <Shortcut>
              <Action>ToggleFollowMouseMode</Action>
              <Keys>W</Keys>
            </Shortcut>
            <Shortcut>
              <Action>MeasureWindow</Action>
              <Keys>Z</Keys>
            </Shortcut>
            <Shortcut>
              <Action>CopySize</Action>
              <Keys>Ctrl+C</Keys>
            </Shortcut>
            <Shortcut>
              <Action>SetSize</Action>
              <Keys>Ctrl+L</Keys>
            </Shortcut>
            <Shortcut>
              <Action>PinTop</Action>
              <Keys>S</Keys>
            </Shortcut>
            <Shortcut>
              <Action>Minimize</Action>
              <Keys>Ctrl+M</Keys>
            </Shortcut>
            <Shortcut>
              <Action>ToggleTheme</Action>
              <Keys>Ctrl+T</Keys>
            </Shortcut>
            <Shortcut>
              <Action>IncreaseOpacity</Action>
              <Keys>Ctrl+Oemplus</Keys>
            </Shortcut>
            <Shortcut>
              <Action>DecreaseOpacity</Action>
              <Keys>Ctrl+OemMinus</Keys>
            </Shortcut>
            <Shortcut>
              <Action>HideRulerScale</Action>
              <Keys>Ctrl+H</Keys>
            </Shortcut>
            <Shortcut>
              <Action>MarkCenter</Action>
              <Keys>M</Keys>
            </Shortcut>
            <Shortcut>
              <Action>MarkThirds</Action>
              <Keys>T</Keys>
            </Shortcut>
            <Shortcut>
              <Action>MarkGoldenRatio</Action>
              <Keys>G</Keys>
            </Shortcut>
            <Shortcut>
              <Action>MarkMouse</Action>
              <Keys>P</Keys>
            </Shortcut>
            <Shortcut>
              <Action>EditMarkers</Action>
              <Keys>Ctrl+E</Keys>
            </Shortcut>
            <Shortcut>
              <Action>ClearAllMarkers</Action>
              <Keys>Del</Keys>
            </Shortcut>
            <Shortcut>
              <Action>DeleteFirstMarker</Action>
              <Keys>C</Keys>
            </Shortcut>
            <Shortcut>
              <Action>AddMarkerAtCurrent</Action>
              <Keys>X</Keys>
            </Shortcut>
            <Shortcut>
              <Action>AddMarkerAtLength</Action>
              <Keys>L</Keys>
            </Shortcut>
            <Shortcut>
              <Action>Settings</Action>
              <Keys>Ctrl+,</Keys>
            </Shortcut>
            <Shortcut>
              <Action>ConfigureShortcuts</Action>
              <Keys>Ctrl+Shift+,</Keys>
            </Shortcut>
            <Shortcut>
              <Action>CalibrateRuler</Action>
              <Keys>Ctrl+K</Keys>
            </Shortcut>
            <Shortcut>
              <Action>ShowHelp</Action>
              <Keys>F1</Keys>
            </Shortcut>
            <Shortcut>
              <Action>ExitApp</Action>
              <Keys>Escape</Keys>
            </Shortcut>
          </ArrayOfShortcut>
        </Shortcuts>
        <TopMost>False</TopMost>
        <CustomMarkers>
          <MarkerCollection xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Markers />
          </MarkerCollection>
        </CustomMarkers>
        <Opacity>1</Opacity>
        <Settings>
          <Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <SlimMode>false</SlimMode>
            <MeasuringUnit>Pixels</MeasuringUnit>
            <DpiScalingMode>Unaware</DpiScalingMode>
            <MonitorDpi>96</MonitorDpi>
            <VerticalMonitorDpi>96</VerticalMonitorDpi>
            <MonitorDpiConfigurations />
            <ShowCenterLine>false</ShowCenterLine>
            <ShowThirdLines>false</ShowThirdLines>
            <ShowGoldenLine>false</ShowGoldenLine>
            <ShowMouseLine>true</ShowMouseLine>
            <HypotenuseMode>None</HypotenuseMode>
            <HideRulerScale>false</HideRulerScale>
            <MarkerThickness>1</MarkerThickness>
            <MultiMarking>true</MultiMarking>
            <ShowOffsetLengthLabels>true</ShowOffsetLengthLabels>
            <ShowToolTip>true</ShowToolTip>
            <ShowMarkerSymbol>false</ShowMarkerSymbol>
            <UseNotifyIcon>true</UseNotifyIcon>
            <FollowMousePointer>false</FollowMousePointer>
            <FollowMousePointerCenter>true</FollowMousePointerCenter>
            <SnapToScreenEdges>false</SnapToScreenEdges>
            <SelectedTheme>Light</SelectedTheme>
            <Theme>
              <Background>#FFFFFF</Background>
              <TickColor>#000000</TickColor>
              <LengthLabelColor>#008000</LengthLabelColor>
              <MouseLineColor>#FFA500</MouseLineColor>
              <CenterLineColor>#0000FF</CenterLineColor>
              <ThirdsLinesColor>#00BFFF</ThirdsLinesColor>
              <GoldenLineColor>#FFD700</GoldenLineColor>
              <CustomLinesColor>#FF0000</CustomLinesColor>
            </Theme>
            <SmallStep>1</SmallStep>
            <MediumStep>5</MediumStep>
            <LargeStep>25</LargeStep>
            <RulerTransform>None</RulerTransform>
          </Settings>
        </Settings>
        <ResizeMode>Horizontal</ResizeMode>
      </Bluegrams.Application.CustomSettings>
    </Roaming>
    <PC_METASPLOIT>
      <Bluegrams.Application.Properties.Settings>
        <Updated>True</Updated>
      </Bluegrams.Application.Properties.Settings>
      <Bluegrams.Application.CustomSettings>
        <Width>1279</Width>
        <Height>80</Height>
        <Left>-1620</Left>
        <Top>1046</Top>
        <WindowState>Normal</WindowState>
      </Bluegrams.Application.CustomSettings>
    </PC_METASPLOIT>
  </userSettings>
</configuration>